@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Outfit:wght@200;300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300;400&family=Outfit:wght@200;300&family=Special+Elite&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
}

/* setting element styling */
h1 {
  font-weight: 30;
  font-size: 60px;
}

h3 {
  font-weight: 20;
  font-size: 30px;
}

/* styling header bar */
.header {
  background-color: teal;
  margin: 0;
  padding: 20px;
  color: beige;
  font-size: 20px;
  background-color: #0077b6;
  opacity: 70%;
  margin-bottom: 20px;
}

/* styling mainbody, arraging sections into a column */
.mainbody {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0%;
  height: 100%;
}

/* mainbox styles*/
.mainbox {
  width: 380px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #0077b6;
  opacity: 70%;
  color: beige;
}
/* mainbox elements styles */
#mainboxText,
#mainboxNumber {
  font-size: 70px;
}
/* 
smaller boxes in second row styles */
.smallerBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* individual box styling */
.eventKey,
.keyCode,
.eventWhich {
  width: 280px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 30px;
  background-color: #0077b6;
  color: beige;
  margin-bottom: 60px;
  opacity: 70%;
}

/* accessing the content of the smaller boxes */
.smallerBoxes > div > div {
  font-size: 30px;
  font-weight: 500;
}

/* footer style */
.footer {
  font-size: 15px;
}
